## InfluxDB ##

In [7]:
from influxdb import InfluxDBClient
import json

In [2]:
client = InfluxDBClient(host='influxdb-influxdb.default.svc.cluster.local', port=8086)

In [3]:
dbs= client.get_list_database()

In [4]:
client.switch_database('prices')

In [5]:
measurements = client.get_list_measurements()

In [8]:
results = client.query('select * from BTC_bitcoin ORDER by time DESC LIMIT 1')
results.raw

{'statement_id': 0,
 'series': [{'name': 'BTC_bitcoin',
   'columns': ['time',
    'marketcap_usd',
    'price_btc',
    'price_usd',
    'volume_usd'],
   'values': [['2018-11-01T12:34:14Z',
     110852663090,
     1,
     6387.84502049,
     4202063673]]}]}

In [9]:
str = str(measurements)

In [10]:
str = str.replace("\'", "\"")

In [11]:
raw_input = json.loads(str)

In [12]:
output_dict = [x for x in raw_input if x['name'] == '611_USD']

In [13]:
output_dict

[{'name': '611_USD'}]

In [12]:
clear_USD = [x for x in measurements 
               if x['name'].endswith('_USD') == False
              ]

In [13]:
clear_BTC = [x for x in clear_USD 
               if x['name'].endswith('_BTC') == False
              ]

In [14]:
clear_BTC1 = [x for x in clear_BTC 
               if x['name'].endswith('coin') 
              ]

In [14]:
for x in output_dict:
    results = client.query(('SELECT * from "%s" WHERE time >= now() - 1d LIMIT 100') %  x['name'])
    points = list(results.get_points())
    #points[0]['name'] = x['name']
    for p in points:
        p['name'] = x['name']
    #print(points)

In [14]:
points

[{'time': '2018-10-30T21:02:16Z',
  'marketcap_usd': 109824690991,
  'price_btc': 1,
  'price_usd': 6329.86216286,
  'volume_usd': 3759406473,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:04:00Z',
  'marketcap_usd': 109834543107,
  'price_btc': 1,
  'price_usd': 6330.43,
  'volume_usd': 3760800000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:07:13Z',
  'marketcap_usd': 109884758732,
  'price_btc': 1,
  'price_usd': 6333.32423062,
  'volume_usd': 3764836824,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:09:00Z',
  'marketcap_usd': 109839748182,
  'price_btc': 1,
  'price_usd': 6330.73,
  'volume_usd': 3758690000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:11:15Z',
  'marketcap_usd': 109900786607,
  'price_btc': 1,
  'price_usd': 6334.24801412,
  'volume_usd': 3763869558,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:14:00Z',
  'marketcap_usd': 109909149182,
  'price_btc': 1,
  'price_usd': 6334.73,
  'volume_usd': 3764020000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:19:00Z',
  'marketcap_usd': 109935914410,
  'price_btc': 1,
  'price_usd': 6336.25,
  'volume_usd': 3762060000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:20:15Z',
  'marketcap_usd': 109901495810,
  'price_btc': 1,
  'price_usd': 6334.26625471,
  'volume_usd': 3764396600,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:24:00Z',
  'marketcap_usd': 109920299129,
  'price_btc': 1,
  'price_usd': 6335.35,
  'volume_usd': 3766890000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:24:13Z',
  'marketcap_usd': 109874806597,
  'price_btc': 1,
  'price_usd': 6332.72799919,
  'volume_usd': 3768153447,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:29:00Z',
  'marketcap_usd': 109856796987,
  'price_btc': 1,
  'price_usd': 6331.69,
  'volume_usd': 3768580000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:30:14Z',
  'marketcap_usd': 109820231741,
  'price_btc': 1,
  'price_usd': 6329.58253089,
  'volume_usd': 3776799217,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:34:00Z',
  'marketcap_usd': 109767269377,
  'price_btc': 1,
  'price_usd': 6326.53,
  'volume_usd': 3776770000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:35:14Z',
  'marketcap_usd': 109857641412,
  'price_btc': 1,
  'price_usd': 6331.73866911,
  'volume_usd': 3779117981,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:39:00Z',
  'marketcap_usd': 109891911795,
  'price_btc': 1,
  'price_usd': 6333.7,
  'volume_usd': 3781810000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:39:12Z',
  'marketcap_usd': 109850693746,
  'price_btc': 1,
  'price_usd': 6331.32436784,
  'volume_usd': 3775845094,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:44:00Z',
  'marketcap_usd': 109941533796,
  'price_btc': 1,
  'price_usd': 6336.56,
  'volume_usd': 3784250000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:48:13Z',
  'marketcap_usd': 109889560668,
  'price_btc': 1,
  'price_usd': 6333.5644911,
  'volume_usd': 3787551222,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:49:01Z',
  'marketcap_usd': 109889482746,
  'price_btc': 1,
  'price_usd': 6333.56,
  'volume_usd': 3787550000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:52:12Z',
  'marketcap_usd': 109865800218,
  'price_btc': 1,
  'price_usd': 6332.19504034,
  'volume_usd': 3795079034,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:54:01Z',
  'marketcap_usd': 109853741025,
  'price_btc': 1,
  'price_usd': 6331.5,
  'volume_usd': 3794240000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:57:14Z',
  'marketcap_usd': 109926580254,
  'price_btc': 1,
  'price_usd': 6335.68901271,
  'volume_usd': 3799280966,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T21:59:00Z',
  'marketcap_usd': 109879404363,
  'price_btc': 1,
  'price_usd': 6332.97,
  'volume_usd': 3799650000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:02:11Z',
  'marketcap_usd': 109963041049,
  'price_btc': 1,
  'price_usd': 6337.79045404,
  'volume_usd': 3777895774,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:04:00Z',
  'marketcap_usd': 109997386913,
  'price_btc': 1,
  'price_usd': 6339.77,
  'volume_usd': 3772260000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:09:00Z',
  'marketcap_usd': 110005888597,
  'price_btc': 1,
  'price_usd': 6340.26,
  'volume_usd': 4053560000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:10:14Z',
  'marketcap_usd': 109941074571,
  'price_btc': 1,
  'price_usd': 6336.52440199,
  'volume_usd': 4058593628,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:14:00Z',
  'marketcap_usd': 109940651187,
  'price_btc': 1,
  'price_usd': 6336.5,
  'volume_usd': 3780580000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:15:15Z',
  'marketcap_usd': 110029969068,
  'price_btc': 1,
  'price_usd': 6341.6478934,
  'volume_usd': 3780731000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:19:00Z',
  'marketcap_usd': 109977403905,
  'price_btc': 1,
  'price_usd': 6338.6,
  'volume_usd': 3779000000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:20:12Z',
  'marketcap_usd': 109962987686,
  'price_btc': 1,
  'price_usd': 6337.76911434,
  'volume_usd': 3775625736,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:24:00Z',
  'marketcap_usd': 109944611601,
  'price_btc': 1,
  'price_usd': 6336.71,
  'volume_usd': 3772150000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:26:15Z',
  'marketcap_usd': 109926122743,
  'price_btc': 1,
  'price_usd': 6335.64438582,
  'volume_usd': 3779366558,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:29:01Z',
  'marketcap_usd': 109812401363,
  'price_btc': 1,
  'price_usd': 6329.09,
  'volume_usd': 3772800000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:30:13Z',
  'marketcap_usd': 109823557196,
  'price_btc': 1,
  'price_usd': 6329.7329717,
  'volume_usd': 3773285713,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:34:00Z',
  'marketcap_usd': 109914074853,
  'price_btc': 1,
  'price_usd': 6334.95,
  'volume_usd': 3775650000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:38:14Z',
  'marketcap_usd': 109823701123,
  'price_btc': 1,
  'price_usd': 6329.74126705,
  'volume_usd': 3769747904,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:39:00Z',
  'marketcap_usd': 109823679139,
  'price_btc': 1,
  'price_usd': 6329.74,
  'volume_usd': 3769750000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:42:13Z',
  'marketcap_usd': 109846883992,
  'price_btc': 1,
  'price_usd': 6331.07742272,
  'volume_usd': 3783111931,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:44:00Z',
  'marketcap_usd': 109901756052,
  'price_btc': 1,
  'price_usd': 6334.24,
  'volume_usd': 3779920000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:48:12Z',
  'marketcap_usd': 109787827528,
  'price_btc': 1,
  'price_usd': 6327.67367534,
  'volume_usd': 3793135488,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:49:01Z',
  'marketcap_usd': 109787763759,
  'price_btc': 1,
  'price_usd': 6327.67,
  'volume_usd': 3793140000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:53:13Z',
  'marketcap_usd': 109869839283,
  'price_btc': 1,
  'price_usd': 6332.40046182,
  'volume_usd': 3794967964,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:54:00Z',
  'marketcap_usd': 109869831270,
  'price_btc': 1,
  'price_usd': 6332.4,
  'volume_usd': 3794970000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T22:59:00Z',
  'marketcap_usd': 109917085320,
  'price_btc': 1,
  'price_usd': 6335.11,
  'volume_usd': 3760420000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:01:14Z',
  'marketcap_usd': 109909029800,
  'price_btc': 1,
  'price_usd': 6334.64571724,
  'volume_usd': 3738012522,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:04:00Z',
  'marketcap_usd': 109914309246,
  'price_btc': 1,
  'price_usd': 6334.95,
  'volume_usd': 3747370000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:05:13Z',
  'marketcap_usd': 109911896614,
  'price_btc': 1,
  'price_usd': 6334.81094703,
  'volume_usd': 3747447604,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:09:00Z',
  'marketcap_usd': 109968269183,
  'price_btc': 1,
  'price_usd': 6338.06,
  'volume_usd': 3751720000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:10:13Z',
  'marketcap_usd': 109856655701,
  'price_btc': 1,
  'price_usd': 6331.62711753,
  'volume_usd': 3750137773,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:14:00Z',
  'marketcap_usd': 110006440200,
  'price_btc': 1,
  'price_usd': 6340.26,
  'volume_usd': 3757040000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:16:12Z',
  'marketcap_usd': 109961003847,
  'price_btc': 1,
  'price_usd': 6337.64125978,
  'volume_usd': 3754373487,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:19:00Z',
  'marketcap_usd': 109938667170,
  'price_btc': 1,
  'price_usd': 6336.34,
  'volume_usd': 3757100000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:23:13Z',
  'marketcap_usd': 109974161819,
  'price_btc': 1,
  'price_usd': 6338.38574215,
  'volume_usd': 3756185199,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:24:00Z',
  'marketcap_usd': 109974235695,
  'price_btc': 1,
  'price_usd': 6338.39,
  'volume_usd': 3756190000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:28:16Z',
  'marketcap_usd': 110014728707,
  'price_btc': 1,
  'price_usd': 6340.7238239,
  'volume_usd': 3753954593,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:29:00Z',
  'marketcap_usd': 110014662360,
  'price_btc': 1,
  'price_usd': 6340.72,
  'volume_usd': 3753950000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:34:00Z',
  'marketcap_usd': 110033053890,
  'price_btc': 1,
  'price_usd': 6341.78,
  'volume_usd': 3763790000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:34:14Z',
  'marketcap_usd': 110046134834,
  'price_btc': 1,
  'price_usd': 6342.53392319,
  'volume_usd': 3764378117,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:38:14Z',
  'marketcap_usd': 109984073664,
  'price_btc': 1,
  'price_usd': 6338.92961264,
  'volume_usd': 3769675762,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:39:00Z',
  'marketcap_usd': 109984080384,
  'price_btc': 1,
  'price_usd': 6338.93,
  'volume_usd': 3769680000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:44:00Z',
  'marketcap_usd': 110016005442,
  'price_btc': 1,
  'price_usd': 6340.77,
  'volume_usd': 3768660000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:45:13Z',
  'marketcap_usd': 109952689190,
  'price_btc': 1,
  'price_usd': 6337.1207692,
  'volume_usd': 3775281296,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:49:00Z',
  'marketcap_usd': 109963433200,
  'price_btc': 1,
  'price_usd': 6337.74,
  'volume_usd': 3770530000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:51:15Z',
  'marketcap_usd': 110030001335,
  'price_btc': 1,
  'price_usd': 6341.57665294,
  'volume_usd': 3776881719,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:54:01Z',
  'marketcap_usd': 109934110728,
  'price_btc': 1,
  'price_usd': 6336.05,
  'volume_usd': 3774860000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:56:12Z',
  'marketcap_usd': 109911397192,
  'price_btc': 1,
  'price_usd': 6334.7409058,
  'volume_usd': 3782933746,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-30T23:59:01Z',
  'marketcap_usd': 109903543418,
  'price_btc': 1,
  'price_usd': 6334.27,
  'volume_usd': 3781100000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:02:12Z',
  'marketcap_usd': 109942061065,
  'price_btc': 1,
  'price_usd': 6336.48995725,
  'volume_usd': 3772512897,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:04:00Z',
  'marketcap_usd': 109950737118,
  'price_btc': 1,
  'price_usd': 6336.99,
  'volume_usd': 3771960000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:06:14Z',
  'marketcap_usd': 109919243458,
  'price_btc': 1,
  'price_usd': 6335.17486878,
  'volume_usd': 3766294826,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:09:00Z',
  'marketcap_usd': 110044604000,
  'price_btc': 1,
  'price_usd': 6342.4,
  'volume_usd': 3774760000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:13:14Z',
  'marketcap_usd': 109934052160,
  'price_btc': 1,
  'price_usd': 6336.02836552,
  'volume_usd': 3776078733,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:14:00Z',
  'marketcap_usd': 109934080518,
  'price_btc': 1,
  'price_usd': 6336.03,
  'volume_usd': 3776080000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:19:02Z',
  'marketcap_usd': 109953936277,
  'price_btc': 1,
  'price_usd': 6337.17,
  'volume_usd': 3781600000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:19:14Z',
  'marketcap_usd': 110014419281,
  'price_btc': 1,
  'price_usd': 6340.65592409,
  'volume_usd': 3784235902,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:24:01Z',
  'marketcap_usd': 110031320118,
  'price_btc': 1,
  'price_usd': 6341.63,
  'volume_usd': 3785870000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:24:13Z',
  'marketcap_usd': 110022896455,
  'price_btc': 1,
  'price_usd': 6341.1445041,
  'volume_usd': 3792612569,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:29:00Z',
  'marketcap_usd': 109978747688,
  'price_btc': 1,
  'price_usd': 6338.6,
  'volume_usd': 3792260000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:29:12Z',
  'marketcap_usd': 110007493614,
  'price_btc': 1,
  'price_usd': 6340.25676486,
  'volume_usd': 3785682129,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:34:00Z',
  'marketcap_usd': 110123625507,
  'price_btc': 1,
  'price_usd': 6346.95,
  'volume_usd': 3798820000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:37:12Z',
  'marketcap_usd': 110059838866,
  'price_btc': 1,
  'price_usd': 6343.2689188,
  'volume_usd': 3799651274,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:39:01Z',
  'marketcap_usd': 110003468013,
  'price_btc': 1,
  'price_usd': 6340.02,
  'volume_usd': 3794370000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:40:14Z',
  'marketcap_usd': 110007329670,
  'price_btc': 1,
  'price_usd': 6340.24256553,
  'volume_usd': 3795544384,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:44:00Z',
  'marketcap_usd': 110007632169,
  'price_btc': 1,
  'price_usd': 6340.26,
  'volume_usd': 3799280000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:46:16Z',
  'marketcap_usd': 110016850276,
  'price_btc': 1,
  'price_usd': 6340.79128308,
  'volume_usd': 3810053239,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:49:00Z',
  'marketcap_usd': 110020818663,
  'price_btc': 1,
  'price_usd': 6341.02,
  'volume_usd': 3814880000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:52:15Z',
  'marketcap_usd': 109994977753,
  'price_btc': 1,
  'price_usd': 6339.53066617,
  'volume_usd': 3807604313,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:54:00Z',
  'marketcap_usd': 110035913728,
  'price_btc': 1,
  'price_usd': 6341.89,
  'volume_usd': 3816860000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:56:16Z',
  'marketcap_usd': 110055017145,
  'price_btc': 1,
  'price_usd': 6342.99102024,
  'volume_usd': 3818309913,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T00:59:01Z',
  'marketcap_usd': 110052728923,
  'price_btc': 1,
  'price_usd': 6342.85,
  'volume_usd': 3814320000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T01:04:00Z',
  'marketcap_usd': 110090553395,
  'price_btc': 1,
  'price_usd': 6345.03,
  'volume_usd': 3805360000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T01:04:15Z',
  'marketcap_usd': 110081212887,
  'price_btc': 1,
  'price_usd': 6344.49166314,
  'volume_usd': 3796889335,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T01:09:00Z',
  'marketcap_usd': 110097320158,
  'price_btc': 1,
  'price_usd': 6345.42,
  'volume_usd': 3807460000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T01:09:14Z',
  'marketcap_usd': 110086623445,
  'price_btc': 1,
  'price_usd': 6344.8034987,
  'volume_usd': 3808530092,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T01:14:00Z',
  'marketcap_usd': 110162211683,
  'price_btc': 1,
  'price_usd': 6349.16,
  'volume_usd': 3811180000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T01:14:16Z',
  'marketcap_usd': 110148864238,
  'price_btc': 1,
  'price_usd': 6348.39072476,
  'volume_usd': 3813064471,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T01:19:01Z',
  'marketcap_usd': 110038486414,
  'price_btc': 1,
  'price_usd': 6342.02,
  'volume_usd': 3815970000,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T01:20:12Z',
  'marketcap_usd': 110050855103,
  'price_btc': 1,
  'price_usd': 6342.73286395,
  'volume_usd': 3812890872,
  'name': 'BTC_bitcoin'},
 {'time': '2018-10-31T01:24:01Z',
  'marketcap_usd': 110084292262,
  'price_btc': 1,
  'price_usd': 6344.66,
  'volume_usd': 3823180000,
  'name': 'BTC_bitcoin'}]

In [15]:
import datetime
import pandas as pd

In [17]:
d = '2018-10-29'
x= 'BTC_bitcoin'

query = """SELECT * from "%s" WHERE time >= '%s' LIMIT 100""" %  (x, d )
print(query)

for x in output_dict:
    results = client.query(query)
    points = list(results.get_points())

    #print(date)
points

SELECT * from "BTC_bitcoin" WHERE time >= '2018-10-29' LIMIT 100

[{'time': '2018-10-29T00:03:11Z',
  'marketcap_usd': 112621848426,
  'price_btc': 1,
  'price_usd': 6492.3515466,
  'volume_usd': 3414332000},
 {'time': '2018-10-29T00:04:00Z',
  'marketcap_usd': 112621821597,
  'price_btc': 1,
  'price_usd': 6492.35,
  'volume_usd': 3414330000},
 {'time': '2018-10-29T00:08:16Z',
  'marketcap_usd': 112437622356,
  'price_btc': 1,
  'price_usd': 6481.73140114,
  'volume_usd': 3417639900},
 {'time': '2018-10-29T00:09:00Z',
  'marketcap_usd': 112437598050,
  'price_btc': 1,
  'price_usd': 6481.73,
  'volume_usd': 3417640000},
 {'time': '2018-10-29T00:14:00Z',
  'marketcap_usd': 112546709737,
  'price_btc': 1,
  'price_usd': 6488.02,
  'volume_usd': 3430450000},
 {'time': '2018-10-29T00:15:12Z',
  'marketcap_usd': 112538311527,
  'price_btc': 1,
  'price_usd': 6487.53586539,
  'volume_usd': 3432536937},
 {'time': '2018-10-29T00:19:00Z',
  'marketcap_usd': 112482677139,
  'price_btc': 1,
  'price_usd': 6484.31,
  'volume_usd': 3434010000},
 {'time': '2018-10-29T00:21:13Z',
  'marketcap_usd': 112518585713,
  'price_btc': 1,
  'price_usd': 6486.3800283,
  'volume_usd': 3435994113},
 {'time': '2018-10-29T00:24:00Z',
  'marketcap_usd': 112601850342,
  'price_btc': 1,
  'price_usd': 6491.18,
  'volume_usd': 3439680000},
 {'time': '2018-10-29T00:25:14Z',
  'marketcap_usd': 112657222498,
  'price_btc': 1,
  'price_usd': 6494.37204905,
  'volume_usd': 3441096931},
 {'time': '2018-10-29T00:29:00Z',
  'marketcap_usd': 112696911354,
  'price_btc': 1,
  'price_usd': 6496.66,
  'volume_usd': 3432070000},
 {'time': '2018-10-29T00:30:11Z',
  'marketcap_usd': 112708464006,
  'price_btc': 1,
  'price_usd': 6497.3259779,
  'volume_usd': 3441480557},
 {'time': '2018-10-29T00:34:00Z',
  'marketcap_usd': 112817298840,
  'price_btc': 1,
  'price_usd': 6503.6,
  'volume_usd': 3444110000},
 {'time': '2018-10-29T00:37:12Z',
  'marketcap_usd': 112694633386,
  'price_btc': 1,
  'price_usd': 6496.51482483,
  'volume_usd': 3444410831},
 {'time': '2018-10-29T00:39:00Z',
  'marketcap_usd': 112620998676,
  'price_btc': 1,
  'price_usd': 6492.27,
  'volume_usd': 3446750000},
 {'time': '2018-10-29T00:43:11Z',
  'marketcap_usd': 112532141036,
  'price_btc': 1,
  'price_usd': 6487.14761784,
  'volume_usd': 3439484528},
 {'time': '2018-10-29T00:44:00Z',
  'marketcap_usd': 112532182359,
  'price_btc': 1,
  'price_usd': 6487.15,
  'volume_usd': 3439480000},
 {'time': '2018-10-29T00:48:11Z',
  'marketcap_usd': 112546247906,
  'price_btc': 1,
  'price_usd': 6487.96083744,
  'volume_usd': 3451714316},
 {'time': '2018-10-29T00:49:00Z',
  'marketcap_usd': 112546233378,
  'price_btc': 1,
  'price_usd': 6487.96,
  'volume_usd': 3451710000},
 {'time': '2018-10-29T00:52:11Z',
  'marketcap_usd': 112489302314,
  'price_btc': 1,
  'price_usd': 6484.67809125,
  'volume_usd': 3442741206},
 {'time': '2018-10-29T00:54:00Z',
  'marketcap_usd': 112315866055,
  'price_btc': 1,
  'price_usd': 6474.68,
  'volume_usd': 3440880000},
 {'time': '2018-10-29T00:58:11Z',
  'marketcap_usd': 112247330535,
  'price_btc': 1,
  'price_usd': 6470.71047754,
  'volume_usd': 3450360912},
 {'time': '2018-10-29T00:59:00Z',
  'marketcap_usd': 112247322250,
  'price_btc': 1,
  'price_usd': 6470.71,
  'volume_usd': 3450360000},
 {'time': '2018-10-29T01:04:00Z',
  'marketcap_usd': 112333536776,
  'price_btc': 1,
  'price_usd': 6475.68,
  'volume_usd': 3410100000},
 {'time': '2018-10-29T01:05:10Z',
  'marketcap_usd': 112159242873,
  'price_btc': 1,
  'price_usd': 6465.63249702,
  'volume_usd': 3420024839},
 {'time': '2018-10-29T01:09:00Z',
  'marketcap_usd': 112267444755,
  'price_btc': 1,
  'price_usd': 6471.87,
  'volume_usd': 3424350000},
 {'time': '2018-10-29T01:10:11Z',
  'marketcap_usd': 112505282843,
  'price_btc': 1,
  'price_usd': 6485.58062811,
  'volume_usd': 3418358015},
 {'time': '2018-10-29T01:14:00Z',
  'marketcap_usd': 112449241179,
  'price_btc': 1,
  'price_usd': 6482.35,
  'volume_usd': 3429080000},
 {'time': '2018-10-29T01:15:13Z',
  'marketcap_usd': 112517063630,
  'price_btc': 1,
  'price_usd': 6486.25975392,
  'volume_usd': 3419412314},
 {'time': '2018-10-29T01:19:00Z',
  'marketcap_usd': 112344896510,
  'price_btc': 1,
  'price_usd': 6476.33,
  'volume_usd': 3427780000},
 {'time': '2018-10-29T01:21:11Z',
  'marketcap_usd': 112429611614,
  'price_btc': 1,
  'price_usd': 6481.21355932,
  'volume_usd': 3421086625},
 {'time': '2018-10-29T01:24:00Z',
  'marketcap_usd': 112342294460,
  'price_btc': 1,
  'price_usd': 6476.18,
  'volume_usd': 3419470000},
 {'time': '2018-10-29T01:26:11Z',
  'marketcap_usd': 112310350170,
  'price_btc': 1,
  'price_usd': 6474.33851213,
  'volume_usd': 3419981309},
 {'time': '2018-10-29T01:29:00Z',
  'marketcap_usd': 112296324910,
  'price_btc': 1,
  'price_usd': 6473.53,
  'volume_usd': 3423030000},
 {'time': '2018-10-29T01:33:11Z',
  'marketcap_usd': 112278141436,
  'price_btc': 1,
  'price_usd': 6472.48177989,
  'volume_usd': 3426476454},
 {'time': '2018-10-29T01:34:00Z',
  'marketcap_usd': 112278110560,
  'price_btc': 1,
  'price_usd': 6472.48,
  'volume_usd': 3426480000},
 {'time': '2018-10-29T01:39:00Z',
  'marketcap_usd': 112327095215,
  'price_btc': 1,
  'price_usd': 6475.29,
  'volume_usd': 3428420000},
 {'time': '2018-10-29T01:39:11Z',
  'marketcap_usd': 112392642386,
  'price_btc': 1,
  'price_usd': 6479.06858021,
  'volume_usd': 3441652165},
 {'time': '2018-10-29T01:43:11Z',
  'marketcap_usd': 112493000785,
  'price_btc': 1,
  'price_usd': 6484.85391393,
  'volume_usd': 3430694192},
 {'time': '2018-10-29T01:44:00Z',
  'marketcap_usd': 112492932889,
  'price_btc': 1,
  'price_usd': 6484.85,
  'volume_usd': 3430690000},
 {'time': '2018-10-29T01:48:14Z',
  'marketcap_usd': 112354683533,
  'price_btc': 1,
  'price_usd': 6476.88037632,
  'volume_usd': 3432947839},
 {'time': '2018-10-29T01:49:00Z',
  'marketcap_usd': 112354677004,
  'price_btc': 1,
  'price_usd': 6476.88,
  'volume_usd': 3432950000},
 {'time': '2018-10-29T01:54:00Z',
  'marketcap_usd': 112422156978,
  'price_btc': 1,
  'price_usd': 6480.77,
  'volume_usd': 3447050000},
 {'time': '2018-10-29T01:56:12Z',
  'marketcap_usd': 112512336973,
  'price_btc': 1,
  'price_usd': 6485.968582,
  'volume_usd': 3449598820},
 {'time': '2018-10-29T01:59:00Z',
  'marketcap_usd': 112287616475,
  'price_btc': 1,
  'price_usd': 6473,
  'volume_usd': 3451490000},
 {'time': '2018-10-29T02:01:11Z',
  'marketcap_usd': 112506519806,
  'price_btc': 1,
  'price_usd': 6485.61903413,
  'volume_usd': 3425490313},
 {'time': '2018-10-29T02:04:00Z',
  'marketcap_usd': 112505669207,
  'price_btc': 1,
  'price_usd': 6485.57,
  'volume_usd': 3426550000},
 {'time': '2018-10-29T02:06:11Z',
  'marketcap_usd': 112590238473,
  'price_btc': 1,
  'price_usd': 6490.44513111,
  'volume_usd': 3426749457},
 {'time': '2018-10-29T02:09:00Z',
  'marketcap_usd': 112620159902,
  'price_btc': 1,
  'price_usd': 6492.17,
  'volume_usd': 3428210000},
 {'time': '2018-10-29T02:12:13Z',
  'marketcap_usd': 112629415565,
  'price_btc': 1,
  'price_usd': 6492.70355754,
  'volume_usd': 3431197041},
 {'time': '2018-10-29T02:14:00Z',
  'marketcap_usd': 112608016950,
  'price_btc': 1,
  'price_usd': 6491.47,
  'volume_usd': 3432680000},
 {'time': '2018-10-29T02:16:15Z',
  'marketcap_usd': 112563009856,
  'price_btc': 1,
  'price_usd': 6488.87549378,
  'volume_usd': 3433380697},
 {'time': '2018-10-29T02:19:00Z',
  'marketcap_usd': 112571134314,
  'price_btc': 1,
  'price_usd': 6489.33,
  'volume_usd': 3434130000},
 {'time': '2018-10-29T02:23:11Z',
  'marketcap_usd': 112689476544,
  'price_btc': 1,
  'price_usd': 6496.15201334,
  'volume_usd': 3448818961},
 {'time': '2018-10-29T02:24:00Z',
  'marketcap_usd': 112689441618,
  'price_btc': 1,
  'price_usd': 6496.15,
  'volume_usd': 3448820000},
 {'time': '2018-10-29T02:29:00Z',
  'marketcap_usd': 112585358946,
  'price_btc': 1,
  'price_usd': 6490.15,
  'volume_usd': 3453270000},
 {'time': '2018-10-29T02:29:14Z',
  'marketcap_usd': 112568355875,
  'price_btc': 1,
  'price_usd': 6489.16983271,
  'volume_usd': 3454047319},
 {'time': '2018-10-29T02:34:00Z',
  'marketcap_usd': 112629594082,
  'price_btc': 1,
  'price_usd': 6492.7,
  'volume_usd': 3453760000},
 {'time': '2018-10-29T02:34:15Z',
  'marketcap_usd': 112630899330,
  'price_btc': 1,
  'price_usd': 6492.77524295,
  'volume_usd': 3454324724},
 {'time': '2018-10-29T02:39:00Z',
  'marketcap_usd': 112590983189,
  'price_btc': 1,
  'price_usd': 6490.46,
  'volume_usd': 3459200000},
 {'time': '2018-10-29T02:39:14Z',
  'marketcap_usd': 112579184989,
  'price_btc': 1,
  'price_usd': 6489.77987674,
  'volume_usd': 3453225436},
 {'time': '2018-10-29T02:44:00Z',
  'marketcap_usd': 112528706920,
  'price_btc': 1,
  'price_usd': 6486.87,
  'volume_usd': 3454260000},
 {'time': '2018-10-29T02:44:12Z',
  'marketcap_usd': 112542376370,
  'price_btc': 1,
  'price_usd': 6487.65799396,
  'volume_usd': 3454982448},
 {'time': '2018-10-29T02:49:00Z',
  'marketcap_usd': 112380388788,
  'price_btc': 1,
  'price_usd': 6478.32,
  'volume_usd': 3461070000},
 {'time': '2018-10-29T02:52:13Z',
  'marketcap_usd': 112539880437,
  'price_btc': 1,
  'price_usd': 6487.51411253,
  'volume_usd': 3462679972},
 {'time': '2018-10-29T02:54:00Z',
  'marketcap_usd': 112461399978,
  'price_btc': 1,
  'price_usd': 6482.99,
  'volume_usd': 3466490000},
 {'time': '2018-10-29T02:56:11Z',
  'marketcap_usd': 112431316418,
  'price_btc': 1,
  'price_usd': 6481.25579236,
  'volume_usd': 3469493383},
 {'time': '2018-10-29T02:59:00Z',
  'marketcap_usd': 112675799664,
  'price_btc': 1,
  'price_usd': 6495.34,
  'volume_usd': 3464720000},
 {'time': '2018-10-29T03:02:18Z',
  'marketcap_usd': 112608656556,
  'price_btc': 1,
  'price_usd': 6491.46944999,
  'volume_usd': 3458832118},
 {'time': '2018-10-29T03:04:00Z',
  'marketcap_usd': 112564604272,
  'price_btc': 1,
  'price_usd': 6488.93,
  'volume_usd': 3461430000},
 {'time': '2018-10-29T03:07:14Z',
  'marketcap_usd': 112481253613,
  'price_btc': 1,
  'price_usd': 6484.12514505,
  'volume_usd': 3459949204},
 {'time': '2018-10-29T03:09:00Z',
  'marketcap_usd': 112634339916,
  'price_btc': 1,
  'price_usd': 6492.95,
  'volume_usd': 3464990000},
 {'time': '2018-10-29T03:14:00Z',
  'marketcap_usd': 112605543605,
  'price_btc': 1,
  'price_usd': 6491.29,
  'volume_usd': 3459920000},
 {'time': '2018-10-29T03:14:11Z',
  'marketcap_usd': 112594001281,
  'price_btc': 1,
  'price_usd': 6490.624628,
  'volume_usd': 3467756871},
 {'time': '2018-10-29T03:19:00Z',
  'marketcap_usd': 112584284461,
  'price_btc': 1,
  'price_usd': 6490.06,
  'volume_usd': 3461720000},
 {'time': '2018-10-29T03:19:11Z',
  'marketcap_usd': 112626340768,
  'price_btc': 1,
  'price_usd': 6492.48438772,
  'volume_usd': 3463727744},
 {'time': '2018-10-29T03:24:00Z',
  'marketcap_usd': 112524263194,
  'price_btc': 1,
  'price_usd': 6486.6,
  'volume_usd': 3471520000},
 {'time': '2018-10-29T03:24:11Z',
  'marketcap_usd': 112496102263,
  'price_btc': 1,
  'price_usd': 6484.97662835,
  'volume_usd': 3472666615},
 {'time': '2018-10-29T03:29:00Z',
  'marketcap_usd': 112412894253,
  'price_btc': 1,
  'price_usd': 6480.18,
  'volume_usd': 3471440000},
 {'time': '2018-10-29T03:29:16Z',
  'marketcap_usd': 112475671113,
  'price_btc': 1,
  'price_usd': 6483.79884953,
  'volume_usd': 3468953189},
 {'time': '2018-10-29T03:34:00Z',
  'marketcap_usd': 112344893280,
  'price_btc': 1,
  'price_usd': 6476.26,
  'volume_usd': 3480440000},
 {'time': '2018-10-29T03:35:13Z',
  'marketcap_usd': 112500864582,
  'price_btc': 1,
  'price_usd': 6485.25115813,
  'volume_usd': 3484924154},
 {'time': '2018-10-29T03:39:00Z',
  'marketcap_usd': 112517408640,
  'price_btc': 1,
  'price_usd': 6486.2,
  'volume_usd': 3487360000},
 {'time': '2018-10-29T03:42:12Z',
  'marketcap_usd': 112579115650,
  'price_btc': 1,
  'price_usd': 6489.75717405,
  'volume_usd': 3485865651},
 {'time': '2018-10-29T03:44:00Z',
  'marketcap_usd': 112526429184,
  'price_btc': 1,
  'price_usd': 6486.72,
  'volume_usd': 3485500000},
 {'time': '2018-10-29T03:47:11Z',
  'marketcap_usd': 112604497428,
  'price_btc': 1,
  'price_usd': 6491.22033686,
  'volume_usd': 3483486186},
 {'time': '2018-10-29T03:49:00Z',
  'marketcap_usd': 112545164160,
  'price_btc': 1,
  'price_usd': 6487.8,
  'volume_usd': 3482340000},
 {'time': '2018-10-29T03:52:11Z',
  'marketcap_usd': 112565308279,
  'price_btc': 1,
  'price_usd': 6488.96123171,
  'volume_usd': 3494869141},
 {'time': '2018-10-29T03:54:00Z',
  'marketcap_usd': 112632940992,
  'price_btc': 1,
  'price_usd': 6492.86,
  'volume_usd': 3496640000},
 {'time': '2018-10-29T03:57:10Z',
  'marketcap_usd': 112527031246,
  'price_btc': 1,
  'price_usd': 6486.75021933,
  'volume_usd': 3494715834},
 {'time': '2018-10-29T03:59:00Z',
  'marketcap_usd': 112625733077,
  'price_btc': 1,
  'price_usd': 6492.44,
  'volume_usd': 3496890000},
 {'time': '2018-10-29T04:03:11Z',
  'marketcap_usd': 112608593692,
  'price_btc': 1,
  'price_usd': 6491.45198039,
  'volume_usd': 3477977494},
 {'time': '2018-10-29T04:04:00Z',
  'marketcap_usd': 112608559337,
  'price_btc': 1,
  'price_usd': 6491.45,
  'volume_usd': 3477980000},
 {'time': '2018-10-29T04:09:00Z',
  'marketcap_usd': 112480363440,
  'price_btc': 1,
  'price_usd': 6484.06,
  'volume_usd': 3478910000},
 {'time': '2018-10-29T04:10:12Z',
  'marketcap_usd': 112325935258,
  'price_btc': 1,
  'price_usd': 6475.15780969,
  'volume_usd': 3479640179},
 {'time': '2018-10-29T04:14:00Z',
  'marketcap_usd': 112312442428,
  'price_btc': 1,
  'price_usd': 6474.38,
  'volume_usd': 3493270000},
 {'time': '2018-10-29T04:14:12Z',
  'marketcap_usd': 112372205142,
  'price_btc': 1,
  'price_usd': 6477.82509041,
  'volume_usd': 3485171722},
 {'time': '2018-10-29T04:19:00Z',
  'marketcap_usd': 112335155696,
  'price_btc': 1,
  'price_usd': 6475.68,
  'volume_usd': 3496870000},
 {'time': '2018-10-29T04:20:15Z',
  'marketcap_usd': 112308804719,
  'price_btc': 1,
  'price_usd': 6474.16096977,
  'volume_usd': 3489250326},
 {'time': '2018-10-29T04:24:00Z',
  'marketcap_usd': 112373666562,
  'price_btc': 1,
  'price_usd': 6477.9,
  'volume_usd': 3491080000}]

In [ ]:
date = '2016-10-29'

data_range=pd.date_range(date, datetime.datetime.today())

for d in data_range:
    print(d)
    d=d.strftime('%Y-%m-%d')
    print(d)
    
    for x in output_dict:
        query = """SELECT * from "%s" WHERE time >= '%s' LIMIT 100""" %  (x, d )
        print(query)
        results = client.query(query)
        points = list(results.get_points())
        for i, p in enumerate(points):
            #print('index %d, value %s' % (i, p)) 
            points[i]['name'] = x['name']
            print(points[i])
            #producer.send_messages('test', json.dumps(points[i], default=json_util.default).encode('utf-8'))

2016-10-29 00:00:00
2016-10-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-10-29' LIMIT 100
2016-10-30 00:00:00
2016-10-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-10-30' LIMIT 100
2016-10-31 00:00:00
2016-10-31
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-10-31' LIMIT 100
2016-11-01 00:00:00
2016-11-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-01' LIMIT 100
2016-11-02 00:00:00
2016-11-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-02' LIMIT 100
2016-11-03 00:00:00
2016-11-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-03' LIMIT 100
2016-11-04 00:00:00
2016-11-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-04' LIMIT 100
2016-11-05 00:00:00
2016-11-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-05' LIMIT 100
2016-11-06 00:00:00
2016-11-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-06' LIMIT 100
2016-11-07 00:00:00
2016-11-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-07' LIMIT 100
2016-11-08 00:00:00
2016-11-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-08' LIMIT 100
2016-11-09 00:00:00
2016-11-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-09' LIMIT 100
2016-11-10 00:00:00
2016-11-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-10' LIMIT 100
2016-11-11 00:00:00
2016-11-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-11' LIMIT 100
2016-11-12 00:00:00
2016-11-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-12' LIMIT 100
2016-11-13 00:00:00
2016-11-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-13' LIMIT 100
2016-11-14 00:00:00
2016-11-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-14' LIMIT 100
2016-11-15 00:00:00
2016-11-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-15' LIMIT 100
2016-11-16 00:00:00
2016-11-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-16' LIMIT 100
2016-11-17 00:00:00
2016-11-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-17' LIMIT 100
2016-11-18 00:00:00
2016-11-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-18' LIMIT 100
2016-11-19 00:00:00
2016-11-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-19' LIMIT 100
2016-11-20 00:00:00
2016-11-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-20' LIMIT 100
2016-11-21 00:00:00
2016-11-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-21' LIMIT 100
2016-11-22 00:00:00
2016-11-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-22' LIMIT 100
2016-11-23 00:00:00
2016-11-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-23' LIMIT 100
2016-11-24 00:00:00
2016-11-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-24' LIMIT 100
2016-11-25 00:00:00
2016-11-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-25' LIMIT 100
2016-11-26 00:00:00
2016-11-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-26' LIMIT 100
2016-11-27 00:00:00
2016-11-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-27' LIMIT 100
2016-11-28 00:00:00
2016-11-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-28' LIMIT 100
2016-11-29 00:00:00
2016-11-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-29' LIMIT 100
2016-11-30 00:00:00
2016-11-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-11-30' LIMIT 100
2016-12-01 00:00:00
2016-12-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-01' LIMIT 100
2016-12-02 00:00:00
2016-12-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-02' LIMIT 100
2016-12-03 00:00:00
2016-12-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-03' LIMIT 100
2016-12-04 00:00:00
2016-12-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-04' LIMIT 100
2016-12-05 00:00:00
2016-12-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-05' LIMIT 100
2016-12-06 00:00:00
2016-12-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-06' LIMIT 100
2016-12-07 00:00:00
2016-12-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-07' LIMIT 100
2016-12-08 00:00:00
2016-12-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-08' LIMIT 100
2016-12-09 00:00:00
2016-12-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-09' LIMIT 100
2016-12-10 00:00:00
2016-12-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-10' LIMIT 100
2016-12-11 00:00:00
2016-12-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-11' LIMIT 100
2016-12-12 00:00:00
2016-12-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-12' LIMIT 100
2016-12-13 00:00:00
2016-12-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-13' LIMIT 100
2016-12-14 00:00:00
2016-12-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-14' LIMIT 100
2016-12-15 00:00:00
2016-12-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-15' LIMIT 100
2016-12-16 00:00:00
2016-12-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-16' LIMIT 100
2016-12-17 00:00:00
2016-12-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-17' LIMIT 100
2016-12-18 00:00:00
2016-12-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-18' LIMIT 100
2016-12-19 00:00:00
2016-12-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-19' LIMIT 100
2016-12-20 00:00:00
2016-12-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-20' LIMIT 100
2016-12-21 00:00:00
2016-12-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-21' LIMIT 100
2016-12-22 00:00:00
2016-12-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-22' LIMIT 100
2016-12-23 00:00:00
2016-12-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-23' LIMIT 100
2016-12-24 00:00:00
2016-12-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-24' LIMIT 100
2016-12-25 00:00:00
2016-12-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-25' LIMIT 100
2016-12-26 00:00:00
2016-12-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-26' LIMIT 100
2016-12-27 00:00:00
2016-12-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-27' LIMIT 100
2016-12-28 00:00:00
2016-12-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-28' LIMIT 100
2016-12-29 00:00:00
2016-12-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-29' LIMIT 100
2016-12-30 00:00:00
2016-12-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-30' LIMIT 100
2016-12-31 00:00:00
2016-12-31
SELECT * from "{'name': '611_USD'}" WHERE time >= '2016-12-31' LIMIT 100
2017-01-01 00:00:00
2017-01-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-01' LIMIT 100
2017-01-02 00:00:00
2017-01-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-02' LIMIT 100
2017-01-03 00:00:00
2017-01-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-03' LIMIT 100
2017-01-04 00:00:00
2017-01-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-04' LIMIT 100
2017-01-05 00:00:00
2017-01-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-05' LIMIT 100
2017-01-06 00:00:00
2017-01-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-06' LIMIT 100
2017-01-07 00:00:00
2017-01-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-07' LIMIT 100
2017-01-08 00:00:00
2017-01-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-08' LIMIT 100
2017-01-09 00:00:00
2017-01-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-09' LIMIT 100
2017-01-10 00:00:00
2017-01-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-10' LIMIT 100
2017-01-11 00:00:00
2017-01-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-11' LIMIT 100
2017-01-12 00:00:00
2017-01-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-12' LIMIT 100
2017-01-13 00:00:00
2017-01-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-13' LIMIT 100
2017-01-14 00:00:00
2017-01-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-14' LIMIT 100
2017-01-15 00:00:00
2017-01-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-15' LIMIT 100

2017-01-16 00:00:00
2017-01-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-16' LIMIT 100
2017-01-17 00:00:00
2017-01-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-17' LIMIT 100
2017-01-18 00:00:00
2017-01-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-18' LIMIT 100
2017-01-19 00:00:00
2017-01-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-19' LIMIT 100
2017-01-20 00:00:00
2017-01-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-20' LIMIT 100
2017-01-21 00:00:00
2017-01-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-21' LIMIT 100
2017-01-22 00:00:00
2017-01-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-22' LIMIT 100
2017-01-23 00:00:00
2017-01-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-23' LIMIT 100
2017-01-24 00:00:00
2017-01-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-24' LIMIT 100
2017-01-25 00:00:00
2017-01-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-25' LIMIT 100
2017-01-26 00:00:00
2017-01-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-26' LIMIT 100
2017-01-27 00:00:00
2017-01-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-27' LIMIT 100
2017-01-28 00:00:00
2017-01-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-28' LIMIT 100
2017-01-29 00:00:00
2017-01-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-29' LIMIT 100
2017-01-30 00:00:00
2017-01-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-30' LIMIT 100
2017-01-31 00:00:00
2017-01-31
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-01-31' LIMIT 100
2017-02-01 00:00:00
2017-02-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-01' LIMIT 100
2017-02-02 00:00:00
2017-02-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-02' LIMIT 100
2017-02-03 00:00:00
2017-02-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-03' LIMIT 100
2017-02-04 00:00:00
2017-02-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-04' LIMIT 100
2017-02-05 00:00:00
2017-02-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-05' LIMIT 100
2017-02-06 00:00:00
2017-02-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-06' LIMIT 100
2017-02-07 00:00:00
2017-02-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-07' LIMIT 100
2017-02-08 00:00:00
2017-02-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-08' LIMIT 100
2017-02-09 00:00:00
2017-02-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-09' LIMIT 100
2017-02-10 00:00:00
2017-02-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-10' LIMIT 100
2017-02-11 00:00:00
2017-02-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-11' LIMIT 100
2017-02-12 00:00:00
2017-02-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-12' LIMIT 100
2017-02-13 00:00:00
2017-02-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-13' LIMIT 100
2017-02-14 00:00:00
2017-02-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-14' LIMIT 100
2017-02-15 00:00:00
2017-02-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-15' LIMIT 100
2017-02-16 00:00:00
2017-02-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-16' LIMIT 100
2017-02-17 00:00:00
2017-02-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-17' LIMIT 100
2017-02-18 00:00:00
2017-02-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-18' LIMIT 100
2017-02-19 00:00:00
2017-02-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-19' LIMIT 100
2017-02-20 00:00:00
2017-02-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-20' LIMIT 100
2017-02-21 00:00:00
2017-02-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-21' LIMIT 100
2017-02-22 00:00:00
2017-02-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-22' LIMIT 100
2017-02-23 00:00:00
2017-02-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-23' LIMIT 100
2017-02-24 00:00:00
2017-02-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-24' LIMIT 100
2017-02-25 00:00:00
2017-02-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-25' LIMIT 100
2017-02-26 00:00:00
2017-02-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-26' LIMIT 100
2017-02-27 00:00:00
2017-02-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-27' LIMIT 100
2017-02-28 00:00:00
2017-02-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-02-28' LIMIT 100
2017-03-01 00:00:00
2017-03-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-01' LIMIT 100
2017-03-02 00:00:00
2017-03-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-02' LIMIT 100
2017-03-03 00:00:00
2017-03-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-03' LIMIT 100
2017-03-04 00:00:00
2017-03-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-04' LIMIT 100
2017-03-05 00:00:00
2017-03-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-05' LIMIT 100
2017-03-06 00:00:00
2017-03-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-06' LIMIT 100
2017-03-07 00:00:00
2017-03-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-07' LIMIT 100
2017-03-08 00:00:00
2017-03-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-08' LIMIT 100
2017-03-09 00:00:00
2017-03-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-09' LIMIT 100
2017-03-10 00:00:00
2017-03-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-10' LIMIT 100
2017-03-11 00:00:00
2017-03-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-11' LIMIT 100
2017-03-12 00:00:00
2017-03-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-12' LIMIT 100
2017-03-13 00:00:00
2017-03-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-13' LIMIT 100
2017-03-14 00:00:00
2017-03-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-14' LIMIT 100
2017-03-15 00:00:00
2017-03-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-15' LIMIT 100
2017-03-16 00:00:00
2017-03-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-16' LIMIT 100
2017-03-17 00:00:00
2017-03-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-17' LIMIT 100
2017-03-18 00:00:00
2017-03-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-18' LIMIT 100
2017-03-19 00:00:00
2017-03-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-19' LIMIT 100
2017-03-20 00:00:00
2017-03-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-20' LIMIT 100
2017-03-21 00:00:00
2017-03-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-21' LIMIT 100
2017-03-22 00:00:00
2017-03-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-22' LIMIT 100
2017-03-23 00:00:00
2017-03-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-23' LIMIT 100
2017-03-24 00:00:00
2017-03-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-24' LIMIT 100
2017-03-25 00:00:00
2017-03-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-25' LIMIT 100
2017-03-26 00:00:00
2017-03-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-26' LIMIT 100
2017-03-27 00:00:00
2017-03-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-27' LIMIT 100
2017-03-28 00:00:00
2017-03-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-28' LIMIT 100
2017-03-29 00:00:00
2017-03-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-29' LIMIT 100
2017-03-30 00:00:00
2017-03-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-30' LIMIT 100
2017-03-31 00:00:00
2017-03-31
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-03-31' LIMIT 100
2017-04-01 00:00:00
2017-04-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-01' LIMIT 100
2017-04-02 00:00:00
2017-04-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-02' LIMIT 100
2017-04-03 00:00:00
2017-04-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-03' LIMIT 100
2017-04-04 00:00:00
2017-04-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-04' LIMIT 100

2017-04-05 00:00:00
2017-04-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-05' LIMIT 100
2017-04-06 00:00:00
2017-04-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-06' LIMIT 100
2017-04-07 00:00:00
2017-04-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-07' LIMIT 100
2017-04-08 00:00:00
2017-04-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-08' LIMIT 100
2017-04-09 00:00:00
2017-04-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-09' LIMIT 100
2017-04-10 00:00:00
2017-04-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-10' LIMIT 100
2017-04-11 00:00:00
2017-04-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-11' LIMIT 100
2017-04-12 00:00:00
2017-04-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-12' LIMIT 100
2017-04-13 00:00:00
2017-04-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-13' LIMIT 100
2017-04-14 00:00:00
2017-04-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-14' LIMIT 100
2017-04-15 00:00:00
2017-04-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-15' LIMIT 100
2017-04-16 00:00:00
2017-04-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-16' LIMIT 100
2017-04-17 00:00:00
2017-04-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-17' LIMIT 100
2017-04-18 00:00:00
2017-04-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-18' LIMIT 100
2017-04-19 00:00:00
2017-04-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-19' LIMIT 100
2017-04-20 00:00:00
2017-04-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-20' LIMIT 100
2017-04-21 00:00:00
2017-04-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-21' LIMIT 100
2017-04-22 00:00:00
2017-04-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-22' LIMIT 100
2017-04-23 00:00:00
2017-04-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-23' LIMIT 100
2017-04-24 00:00:00
2017-04-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-24' LIMIT 100
2017-04-25 00:00:00
2017-04-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-25' LIMIT 100
2017-04-26 00:00:00
2017-04-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-26' LIMIT 100
2017-04-27 00:00:00
2017-04-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-27' LIMIT 100
2017-04-28 00:00:00
2017-04-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-28' LIMIT 100
2017-04-29 00:00:00
2017-04-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-29' LIMIT 100
2017-04-30 00:00:00
2017-04-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-04-30' LIMIT 100
2017-05-01 00:00:00
2017-05-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-01' LIMIT 100
2017-05-02 00:00:00
2017-05-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-02' LIMIT 100
2017-05-03 00:00:00
2017-05-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-03' LIMIT 100
2017-05-04 00:00:00
2017-05-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-04' LIMIT 100
2017-05-05 00:00:00
2017-05-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-05' LIMIT 100
2017-05-06 00:00:00
2017-05-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-06' LIMIT 100
2017-05-07 00:00:00
2017-05-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-07' LIMIT 100
2017-05-08 00:00:00
2017-05-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-08' LIMIT 100
2017-05-09 00:00:00
2017-05-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-09' LIMIT 100
2017-05-10 00:00:00
2017-05-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-10' LIMIT 100
2017-05-11 00:00:00
2017-05-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-11' LIMIT 100
2017-05-12 00:00:00
2017-05-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-12' LIMIT 100
2017-05-13 00:00:00
2017-05-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-13' LIMIT 100
2017-05-14 00:00:00
2017-05-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-14' LIMIT 100
2017-05-15 00:00:00
2017-05-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-15' LIMIT 100
2017-05-16 00:00:00
2017-05-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-16' LIMIT 100
2017-05-17 00:00:00
2017-05-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-17' LIMIT 100
2017-05-18 00:00:00
2017-05-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-18' LIMIT 100
2017-05-19 00:00:00
2017-05-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-19' LIMIT 100
2017-05-20 00:00:00
2017-05-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-20' LIMIT 100
2017-05-21 00:00:00
2017-05-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-21' LIMIT 100
2017-05-22 00:00:00
2017-05-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-22' LIMIT 100
2017-05-23 00:00:00
2017-05-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-23' LIMIT 100
2017-05-24 00:00:00
2017-05-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-24' LIMIT 100
2017-05-25 00:00:00
2017-05-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-25' LIMIT 100
2017-05-26 00:00:00
2017-05-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-26' LIMIT 100
2017-05-27 00:00:00
2017-05-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-27' LIMIT 100
2017-05-28 00:00:00
2017-05-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-28' LIMIT 100
2017-05-29 00:00:00
2017-05-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-29' LIMIT 100
2017-05-30 00:00:00
2017-05-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-30' LIMIT 100
2017-05-31 00:00:00
2017-05-31
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-05-31' LIMIT 100
2017-06-01 00:00:00
2017-06-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-01' LIMIT 100
2017-06-02 00:00:00
2017-06-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-02' LIMIT 100
2017-06-03 00:00:00
2017-06-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-03' LIMIT 100
2017-06-04 00:00:00
2017-06-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-04' LIMIT 100
2017-06-05 00:00:00
2017-06-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-05' LIMIT 100
2017-06-06 00:00:00
2017-06-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-06' LIMIT 100
2017-06-07 00:00:00
2017-06-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-07' LIMIT 100
2017-06-08 00:00:00
2017-06-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-08' LIMIT 100
2017-06-09 00:00:00
2017-06-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-09' LIMIT 100
2017-06-10 00:00:00
2017-06-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-10' LIMIT 100
2017-06-11 00:00:00
2017-06-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-11' LIMIT 100
2017-06-12 00:00:00
2017-06-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-12' LIMIT 100
2017-06-13 00:00:00
2017-06-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-13' LIMIT 100
2017-06-14 00:00:00
2017-06-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-14' LIMIT 100
2017-06-15 00:00:00
2017-06-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-15' LIMIT 100
2017-06-16 00:00:00
2017-06-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-16' LIMIT 100
2017-06-17 00:00:00
2017-06-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-17' LIMIT 100
2017-06-18 00:00:00
2017-06-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-18' LIMIT 100
2017-06-19 00:00:00
2017-06-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-19' LIMIT 100
2017-06-20 00:00:00
2017-06-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-20' LIMIT 100
2017-06-21 00:00:00
2017-06-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-21' LIMIT 100
2017-06-22 00:00:00
2017-06-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-22' LIMIT 100
2017-06-23 00:00:00
2017-06-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-23' LIMIT 100

2017-06-24 00:00:00
2017-06-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-24' LIMIT 100
2017-06-25 00:00:00
2017-06-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-25' LIMIT 100
2017-06-26 00:00:00
2017-06-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-26' LIMIT 100
2017-06-27 00:00:00
2017-06-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-27' LIMIT 100
2017-06-28 00:00:00
2017-06-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-28' LIMIT 100
2017-06-29 00:00:00
2017-06-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-29' LIMIT 100
2017-06-30 00:00:00
2017-06-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-06-30' LIMIT 100
2017-07-01 00:00:00
2017-07-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-01' LIMIT 100
2017-07-02 00:00:00
2017-07-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-02' LIMIT 100
2017-07-03 00:00:00
2017-07-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-03' LIMIT 100
2017-07-04 00:00:00
2017-07-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-04' LIMIT 100
2017-07-05 00:00:00
2017-07-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-05' LIMIT 100
2017-07-06 00:00:00
2017-07-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-06' LIMIT 100
2017-07-07 00:00:00
2017-07-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-07' LIMIT 100
2017-07-08 00:00:00
2017-07-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-08' LIMIT 100
2017-07-09 00:00:00
2017-07-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-09' LIMIT 100
2017-07-10 00:00:00
2017-07-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-10' LIMIT 100
2017-07-11 00:00:00
2017-07-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-11' LIMIT 100
2017-07-12 00:00:00
2017-07-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-12' LIMIT 100
2017-07-13 00:00:00
2017-07-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-13' LIMIT 100
2017-07-14 00:00:00
2017-07-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-14' LIMIT 100
2017-07-15 00:00:00
2017-07-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-15' LIMIT 100
2017-07-16 00:00:00
2017-07-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-16' LIMIT 100
2017-07-17 00:00:00
2017-07-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-17' LIMIT 100
2017-07-18 00:00:00
2017-07-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-18' LIMIT 100
2017-07-19 00:00:00
2017-07-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-19' LIMIT 100
2017-07-20 00:00:00
2017-07-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-20' LIMIT 100
2017-07-21 00:00:00
2017-07-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-21' LIMIT 100
2017-07-22 00:00:00
2017-07-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-22' LIMIT 100
2017-07-23 00:00:00
2017-07-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-23' LIMIT 100
2017-07-24 00:00:00
2017-07-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-24' LIMIT 100
2017-07-25 00:00:00
2017-07-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-25' LIMIT 100
2017-07-26 00:00:00
2017-07-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-26' LIMIT 100
2017-07-27 00:00:00
2017-07-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-27' LIMIT 100
2017-07-28 00:00:00
2017-07-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-28' LIMIT 100
2017-07-29 00:00:00
2017-07-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-29' LIMIT 100
2017-07-30 00:00:00
2017-07-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-30' LIMIT 100
2017-07-31 00:00:00
2017-07-31
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-07-31' LIMIT 100
2017-08-01 00:00:00
2017-08-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-01' LIMIT 100
2017-08-02 00:00:00
2017-08-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-02' LIMIT 100
2017-08-03 00:00:00
2017-08-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-03' LIMIT 100
2017-08-04 00:00:00
2017-08-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-04' LIMIT 100
2017-08-05 00:00:00
2017-08-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-05' LIMIT 100
2017-08-06 00:00:00
2017-08-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-06' LIMIT 100
2017-08-07 00:00:00
2017-08-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-07' LIMIT 100
2017-08-08 00:00:00
2017-08-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-08' LIMIT 100
2017-08-09 00:00:00
2017-08-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-09' LIMIT 100
2017-08-10 00:00:00
2017-08-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-10' LIMIT 100
2017-08-11 00:00:00
2017-08-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-11' LIMIT 100
2017-08-12 00:00:00
2017-08-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-12' LIMIT 100
2017-08-13 00:00:00
2017-08-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-13' LIMIT 100
2017-08-14 00:00:00
2017-08-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-14' LIMIT 100
2017-08-15 00:00:00
2017-08-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-15' LIMIT 100
2017-08-16 00:00:00
2017-08-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-16' LIMIT 100
2017-08-17 00:00:00
2017-08-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-17' LIMIT 100
2017-08-18 00:00:00
2017-08-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-18' LIMIT 100
2017-08-19 00:00:00
2017-08-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-19' LIMIT 100
2017-08-20 00:00:00
2017-08-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-20' LIMIT 100
2017-08-21 00:00:00
2017-08-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-21' LIMIT 100
2017-08-22 00:00:00
2017-08-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-22' LIMIT 100
2017-08-23 00:00:00
2017-08-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-23' LIMIT 100
2017-08-24 00:00:00
2017-08-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-24' LIMIT 100
2017-08-25 00:00:00
2017-08-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-25' LIMIT 100
2017-08-26 00:00:00
2017-08-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-26' LIMIT 100
2017-08-27 00:00:00
2017-08-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-27' LIMIT 100
2017-08-28 00:00:00
2017-08-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-28' LIMIT 100
2017-08-29 00:00:00
2017-08-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-29' LIMIT 100
2017-08-30 00:00:00
2017-08-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-30' LIMIT 100
2017-08-31 00:00:00
2017-08-31
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-08-31' LIMIT 100
2017-09-01 00:00:00
2017-09-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-01' LIMIT 100
2017-09-02 00:00:00
2017-09-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-02' LIMIT 100
2017-09-03 00:00:00
2017-09-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-03' LIMIT 100
2017-09-04 00:00:00
2017-09-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-04' LIMIT 100
2017-09-05 00:00:00
2017-09-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-05' LIMIT 100
2017-09-06 00:00:00
2017-09-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-06' LIMIT 100
2017-09-07 00:00:00
2017-09-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-07' LIMIT 100
2017-09-08 00:00:00
2017-09-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-08' LIMIT 100
2017-09-09 00:00:00
2017-09-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-09' LIMIT 100
2017-09-10 00:00:00
2017-09-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-10' LIMIT 100
2017-09-11 00:00:00
2017-09-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-11' LIMIT 100

2017-09-12 00:00:00
2017-09-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-12' LIMIT 100
2017-09-13 00:00:00
2017-09-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-13' LIMIT 100
2017-09-14 00:00:00
2017-09-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-14' LIMIT 100
2017-09-15 00:00:00
2017-09-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-15' LIMIT 100
2017-09-16 00:00:00
2017-09-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-16' LIMIT 100
2017-09-17 00:00:00
2017-09-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-17' LIMIT 100
2017-09-18 00:00:00
2017-09-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-18' LIMIT 100
2017-09-19 00:00:00
2017-09-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-19' LIMIT 100
2017-09-20 00:00:00
2017-09-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-20' LIMIT 100
2017-09-21 00:00:00
2017-09-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-21' LIMIT 100
2017-09-22 00:00:00
2017-09-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-22' LIMIT 100
2017-09-23 00:00:00
2017-09-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-23' LIMIT 100
2017-09-24 00:00:00
2017-09-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-24' LIMIT 100
2017-09-25 00:00:00
2017-09-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-25' LIMIT 100
2017-09-26 00:00:00
2017-09-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-26' LIMIT 100
2017-09-27 00:00:00
2017-09-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-27' LIMIT 100
2017-09-28 00:00:00
2017-09-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-28' LIMIT 100
2017-09-29 00:00:00
2017-09-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-29' LIMIT 100
2017-09-30 00:00:00
2017-09-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-09-30' LIMIT 100
2017-10-01 00:00:00
2017-10-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-01' LIMIT 100
2017-10-02 00:00:00
2017-10-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-02' LIMIT 100
2017-10-03 00:00:00
2017-10-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-03' LIMIT 100
2017-10-04 00:00:00
2017-10-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-04' LIMIT 100
2017-10-05 00:00:00
2017-10-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-05' LIMIT 100
2017-10-06 00:00:00
2017-10-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-06' LIMIT 100
2017-10-07 00:00:00
2017-10-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-07' LIMIT 100
2017-10-08 00:00:00
2017-10-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-08' LIMIT 100
2017-10-09 00:00:00
2017-10-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-09' LIMIT 100
2017-10-10 00:00:00
2017-10-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-10' LIMIT 100
2017-10-11 00:00:00
2017-10-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-11' LIMIT 100
2017-10-12 00:00:00
2017-10-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-12' LIMIT 100
2017-10-13 00:00:00
2017-10-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-13' LIMIT 100
2017-10-14 00:00:00
2017-10-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-14' LIMIT 100
2017-10-15 00:00:00
2017-10-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-15' LIMIT 100
2017-10-16 00:00:00
2017-10-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-16' LIMIT 100
2017-10-17 00:00:00
2017-10-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-17' LIMIT 100
2017-10-18 00:00:00
2017-10-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-18' LIMIT 100
2017-10-19 00:00:00
2017-10-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-19' LIMIT 100
2017-10-20 00:00:00
2017-10-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-20' LIMIT 100
2017-10-21 00:00:00
2017-10-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-21' LIMIT 100
2017-10-22 00:00:00
2017-10-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-22' LIMIT 100
2017-10-23 00:00:00
2017-10-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-23' LIMIT 100
2017-10-24 00:00:00
2017-10-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-24' LIMIT 100
2017-10-25 00:00:00
2017-10-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-25' LIMIT 100
2017-10-26 00:00:00
2017-10-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-26' LIMIT 100
2017-10-27 00:00:00
2017-10-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-27' LIMIT 100
2017-10-28 00:00:00
2017-10-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-28' LIMIT 100
2017-10-29 00:00:00
2017-10-29
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-29' LIMIT 100
2017-10-30 00:00:00
2017-10-30
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-30' LIMIT 100
2017-10-31 00:00:00
2017-10-31
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-10-31' LIMIT 100
2017-11-01 00:00:00
2017-11-01
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-01' LIMIT 100
2017-11-02 00:00:00
2017-11-02
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-02' LIMIT 100
2017-11-03 00:00:00
2017-11-03
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-03' LIMIT 100
2017-11-04 00:00:00
2017-11-04
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-04' LIMIT 100
2017-11-05 00:00:00
2017-11-05
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-05' LIMIT 100
2017-11-06 00:00:00
2017-11-06
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-06' LIMIT 100
2017-11-07 00:00:00
2017-11-07
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-07' LIMIT 100
2017-11-08 00:00:00
2017-11-08
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-08' LIMIT 100
2017-11-09 00:00:00
2017-11-09
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-09' LIMIT 100
2017-11-10 00:00:00
2017-11-10
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-10' LIMIT 100
2017-11-11 00:00:00
2017-11-11
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-11' LIMIT 100
2017-11-12 00:00:00
2017-11-12
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-12' LIMIT 100
2017-11-13 00:00:00
2017-11-13
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-13' LIMIT 100
2017-11-14 00:00:00
2017-11-14
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-14' LIMIT 100
2017-11-15 00:00:00
2017-11-15
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-15' LIMIT 100
2017-11-16 00:00:00
2017-11-16
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-16' LIMIT 100
2017-11-17 00:00:00
2017-11-17
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-17' LIMIT 100
2017-11-18 00:00:00
2017-11-18
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-18' LIMIT 100
2017-11-19 00:00:00
2017-11-19
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-19' LIMIT 100
2017-11-20 00:00:00
2017-11-20
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-20' LIMIT 100
2017-11-21 00:00:00
2017-11-21
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-21' LIMIT 100
2017-11-22 00:00:00
2017-11-22
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-22' LIMIT 100
2017-11-23 00:00:00
2017-11-23
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-23' LIMIT 100
2017-11-24 00:00:00
2017-11-24
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-24' LIMIT 100
2017-11-25 00:00:00
2017-11-25
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-25' LIMIT 100
2017-11-26 00:00:00
2017-11-26
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-26' LIMIT 100
2017-11-27 00:00:00
2017-11-27
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-27' LIMIT 100
2017-11-28 00:00:00
2017-11-28
SELECT * from "{'name': '611_USD'}" WHERE time >= '2017-11-28' LIMIT 100

In [67]:
print ("Length : %d" % len (points))

Length : 10000

In [68]:
points[0]

{'time': '2013-04-28T18:47:21Z',
 'marketcap_usd': 1500517590,
 'price_btc': 1,
 'price_usd': 135.3,
 'volume_usd': 0,
 'name': 'BTC_bitcoin'}

In [15]:
out = json.dumps(results.raw)
print(out)

{"statement_id": 0, "series": [{"name": "ALC_allcoin", "columns": ["time", "price_btc", "price_usd"], "values": [["2018-10-28T19:25:54Z", 2.28e-06, 0.01474555]]}]}

In [28]:
print(output_dict)

[{'name': '611_USD'}]

## Working with JSON output ##

In [21]:
for x in output_dict:
    results = client.query(('SELECT * from "%s" ORDER by time DESC LIMIT 1') %  x['name'])
    
    points = list(results.get_points())
    print(points)
    data_file = x['name']+'.json'
    with open(data_file, 'w') as outfile:
        #json.dump(points, outfile)
        producer.send_messages('test', json.dumps(points, default=json_util.default).encode('utf-8'))
        print(x['name']+' message sent')
# 611_USD.json
#results.raw
#print(points)

[{'time': '2018-10-28T19:25:38Z', 'marketcap': 58289, 'price': 0.1267165628, 'volume': 23}]
611_USD message sent

In [37]:
results.raw

{'statement_id': 0,
 'series': [{'name': '611_USD',
   'columns': ['time', 'marketcap', 'price', 'volume'],
   'values': [['2018-10-22T19:35:33Z', 65116, 0.1417095519, 122]]}]}

In [188]:
# save relusts.raw in a json file
data_file = output_dict['name']
with open('data.json', 'w') as outfile:
    json.dump(results.raw, outfile)

In [38]:
# save columns and values in a json file
with open('data.json', 'w') as outfile:
    json.dump(points, outfile)

In [131]:
def read_data(measurements):
    client = InfluxDBClient(host='influxdb-influxdb.default.svc.cluster.local', port=8086)
    client.switch_database('prices')
    
    for x in measurements:
        results = client.query(('SELECT * from "%s" ORDER by time DESC LIMIT 1') %  x['name'])
        points = list(results.get_points())
        #params = points[0]
        #params['name'] = x['name']
        
        
        points[0]['name'] = x['name']
        #producer.send_messages('test', json.dumps(points[0], default=json_util.default).encode('utf-8'))

        

        #data_file = x['name']+'.json'
        #with open(data_file, 'w') as outfile:
            #json.dump(points, outfile)
    return points[0]
    #return params

In [132]:
read_data(output_dict)

{'time': '2018-10-28T20:58:37Z',
 'marketcap': 57960,
 'price': 0.1259996609,
 'volume': 23,
 'name': '611_USD'}

In [118]:
type(x)

NoneType

In [106]:
print(x.keys)

<built-in method keys of dict object at 0x0128BDE0>

In [61]:
json.dumps(x)

'[{"time": "2018-10-28T20:07:33Z", "marketcap": 57928, "price": 0.1259316913, "volume": 23, "name": "611_USD"}]'

## Kafka ##

In [25]:
from kafka import SimpleProducer, KafkaClient


kafka = KafkaClient('blockchain-kafka-kafka.default.svc.cluster.local:9092')
producer = SimpleProducer(kafka)
#producer.send_messages('test', b'async message')

In [26]:
import yaml
import json
from bson import json_util

In [27]:
import kafka as k
k.__version__

'1.4.3'

In [213]:
with open('611_USD.json') as f:
    data = json.load(f)

In [214]:
print(data)

[{'time': '2018-10-28T19:45:28Z', 'marketcap': 57956, 'price': 0.1259925901, 'volume': 23}]

In [22]:
with open('611_USD.json') as f:
    for line in f:
        d = yaml.safe_load(line)
        jd = json.dumps(d)
       
        producer.send_messages('test', json.dumps(jd, default=json_util.default).encode('utf-8'))

In [8]:
# send 10 messages to kafka
for i in range(10):
    data = { 'tag ': 'blah',
        'name' : 'sam',
        'index' : i,
        'score': 
            {'row1': 100,
             'row2': 200
        }
    }   
    producer.send_messages('test', json.dumps(data, indent=4, default=json_util.default).encode('utf-8'))

In [ ]:
for x in output_dict:
    results = client.query(('SELECT * from "%s" ORDER by time DESC LIMIT 1') %  x['name'])
    
    points = list(results.get_points())
    print(points)
    data_file = x['name']+'.json'
    with open(data_file, 'w') as outfile:
        #json.dump(points, outfile)
        #producer.send_messages('test', json.dumps(points, default=json_util.default).encode('utf-8'))
        print(x['name']+' message sent')

## Pandas

In [20]:
import pandas as pd
import datetime

In [173]:
startdate = '2009/11/23'
enddate = '2009/12/23'

In [199]:
#pd.to_datetime(['2005/11/23', pd.Timestamp.now])
list=pd.DatetimeIndex(['2005-11-23', '2010-12-31'], dtype='datetime64[ns]', freq=None)

In [183]:
datetime.datetime.now()

datetime.datetime(2018, 10, 31, 22, 26, 34, 420232)

In [33]:
li=pd.date_range('2018/10/23', datetime.datetime.today())

In [34]:
li

DatetimeIndex(['2018-10-23', '2018-10-24', '2018-10-25', '2018-10-26',
               '2018-10-27', '2018-10-28', '2018-10-29', '2018-10-30',
               '2018-10-31', '2018-11-01'],
              dtype='datetime64[ns]', freq='D')

In [48]:
[d.strftime('%Y%m%d') for d in pd.date_range('20130226','20130302')]:
    print(d)

SyntaxError: invalid syntax (<ipython-input-48-af58944084ac>, line 1)

In [49]:
for l in list:
    print(l.strftime('%Y-%m-%d'))

2018-10-23
2018-10-24
2018-10-25
2018-10-26
2018-10-27
2018-10-28
2018-10-29
2018-10-30
2018-10-31

In [197]:
pd.DataFrame(data=list)

Empty DataFrame
Columns: [0]
Index: []

In [89]:
last_index = df.last_valid_index()

In [91]:
last = list[last_index]

In [158]:
def forward_date_range(start_dt, end_dt, span_days):
    #
    # Generate tuples with intervals from given range of dates (forward)
    #
    # forward_date_range('2012-01-01', '2012-01-5', 2)
    #
    # 1st yield = ('2012-01-01', '2012-01-03')
    # 2nd yield = ('2012-01-04', '2012-01-05')
    start_dt = datetime.datetime.strptime(start_dt, '%Y-%m-%d')
    end_dt   = datetime.datetime.strptime(end_dt, '%Y-%m-%d')
    span     = datetime.timedelta(days=span_days)
    step     = datetime.timedelta(days=1)

    while start_dt + span < end_dt:
        current = start_dt + span
        yield start_dt.strftime('%Y-%m-%d'), current.strftime('%Y-%m-%d')
        start_dt = current + step
    else:
        yield start_dt.strftime('%Y-%m-%d'), end_dt.strftime('%Y-%m-%d')

In [163]:
f=forward_date_range('2018-01-01','2018-10-30', 30)

In [172]:
l = next(f)
for x  in l:
    print(type(x))

<class 'str'>
<class 'str'>

In [174]:
df[df.some_date.between(start_date, end_date)]

AttributeError: 'DataFrame' object has no attribute 'some_date'